@model IEnumerable<BL.DTOs.Entities.Book.BookPrevDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="filter">
    <form asp-action="Index" method="get">
        <div class="form-group" name="genre">
            <label class="control-label">Genre</label>
            <br />
            @foreach (var genre in Enum.GetValues(typeof(BL.DTOs.Enums.GenreTypeDTO)))
            {
                <input type="checkbox" id="@genre" name="@genre" value=@genre>
                <label for="@genre">@((BL.DTOs.Enums.GenreTypeDTO)genre)</label>
            }
        </div>

        <div class="form-group">
            <label class="control-label">Title</label>
            <input type="text" name="title" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Author</label>
            <input type="text" name="author" class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Language</label>
            <select class="form-control" name="language" asp-items="Html.GetEnumSelectList<BL.DTOs.Enums.LanguageDTO>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Pages</label> <br />

            <label class="control-label">From</label>
            <input type="number" name="pageFrom" class="form-control" />

            <label class="control-label">To</label>
            <input type="number" name="pageTo"class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label">Release date</label> <br />

            <label class="control-label">From</label>
            <input type="date" name="releaseFrom" class="form-control" />

            <label class="control-label">To</label>
            <input type="date" name="releaseTo" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Authors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
