@model IEnumerable<BL.DTOs.Entities.Book.BookPrevDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="float-container">
    @await Html.PartialAsync("~/Views/BookFilter/_PartialBookFilter.cshtml")

    <div class="float-child-content">
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <table class="table" style="width:1100px; ">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Authors)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @String.Join(", ", item.Authors.Select(x => x.Author.Name + " " + x.Author.Surname))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <br />
                                <a asp-controller="BookInstance" asp-action="UserCreateBookInstance" asp-route-id="@item.Id">Offer this book</a>
                                <br />
                                <a asp-controller="BookCollection" asp-action="UserAddBookInCollection" asp-route-id="@item.Id">Add in collection</a>
                                <br />
                            </div>

                            @if (User.HasClaim(x => x.Value == "Admin"))
                            {
                                <div>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <br />
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>