@using BL.DTOs.Entities.Book
@model  PagedListViewModel<BookPrevDTO>
@using MVCProject.Config;

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="float-container" style="width: 80vw">
    @await Html.PartialAsync("~/Views/BookFilter/_PartialBookFilter.cshtml")

    <div class="float-child-content">
        @if (User.IsInRole(GlobalConstants.AdminRoleName))
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        }
        <table class="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.List.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List.FirstOrDefault().Authors)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List.FirstOrDefault().Language)
                    </th>
                    <th class="col-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @foreach (var author in item.Authors)
                            {
                                <a asp-controller="Author" asp-action="Details" asp-route-id="@author.AuthorID">
                                    @Html.DisplayFor(modelItem => author.Author.Name) @Html.DisplayFor(modelItem => author.Author.Surname)
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div>
                                        <a asp-controller="BookInstance" asp-action="UserCreateBookInstance" asp-route-id="@item.Id">Offer this book</a>
                                        <br />
                                        <a asp-controller="BookCollection" asp-action="UserAddBookInCollection" asp-route-id="@item.Id">Add in collection</a>
                                    </div>
                                }
                                @if (User.IsInRole(GlobalConstants.AdminRoleName))
                                {
                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <br />
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @{
                await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
            }
        </div>
    </div>
</div>
