@model BL.DTOs.Entities.BookCollection.BookCollectionDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Book Collection</h1>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>

    <h5>Owner</h5>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerUser.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerUser.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OwnerUser.Surname)
        </dd>
    </dl>

    <h5>Books</h5>
    <hr />
    @foreach (var item in (IEnumerable<BL.DTOs.Entities.Book.BookPrevDTO>)ViewData["books"])
    {
        <tr>
            <td>
                @Html.DisplayFor(item => item.Title)
            </td>
            <td>
                @String.Join(", ", item.Authors.Select(x => x.Author.Name + " " + x.Author.Surname))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="UserCollections">Back to List</a>
</div>
