@model BL.DTOs.Entities.Reservation.ReservationDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input type="hidden" asp-for="DateFrom" class="form-control" />
                <h5 class="control-label">@Model.DateFrom</h5>
            </div>
            <div class="form-group">
                <label asp-for="DateTill" class="control-label"></label>
                <input type="hidden" asp-for="DateTill" class="form-control" />
                <h5 class="control-label">@Model.DateTill</h5>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserID" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="EReaderID" class="form-control" />
            </div>
            <div>
                @foreach (var bookInst in Model.BookInstances)
                {
                    <div class="form-group">
                        <h5 class="control-label">Title name: @bookInst.BookInstance.FromBookTemplate.Title</h5>
                        <h5 class="control-label">Condition: @bookInst.BookInstance.Condition"</h5>
                        <h5 class="control-label">Description: @bookInst.BookInstance.FromBookTemplate.Description"</h5>
                        <input type="checkbox" id="@bookInst.BookInstanceID" name="booksToDelete" value=@bookInst.BookInstanceID>
                    </div>
                }
            </div>
            @if (Model.EReaderID.HasValue)
            {
                <div class="form-group">
                    <h5 class="control-label">Title name: Borrowed EReader</h5>
                    <h5 class="control-label">Description: @Model.EReader.Description"</h5>
                    <input type="checkbox" id="@Model.EReaderID" name="eReaderInstanceDelete" value=@Model.EReaderID>
                </div>
            }
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Delete Selected" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
