@model IEnumerable<BL.DTOs.Entities.Reservation.ReservationDTO>

@{
    ViewData["Title"] = "UserReservations";
}

<h1>Your Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EReader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookInstances)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EReader.Description)
            </td>
            <td>
                @Html.Raw($"Book ammount: { item.BookInstances.Count}")
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Create New</a>
</p>