@model IEnumerable<BL.DTOs.Entities.BookInstance.BookInstancePrevDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>All books</h1>>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromBookTemplate.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromBookTemplate.Authors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromBookTemplate.PageCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBookTemplate.Title)
                </td>
                <td>
                    @String.Join(", ", item.FromBookTemplate.Authors.Select(x => x.Author.Name + " " + x.Author.Surname))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromBookTemplate.PageCount)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a type="button" class="btn btn-primary" asp-controller="Book" asp-action="Index">Add New</a>
</p>