@model IEnumerable<BL.DTOs.Entities.EBook.EBookPrevDTO>
@using MVCProject.Config
@{
    ViewData["Title"] = "Index";
}

<h1>E-Books</h1>

<div class="float-container">
    @await Html.PartialAsync("~/Views/BookFilter/_PartialBookFilter.cshtml")

    <div class="float-child-content">
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <table class="table" style="width:1100px; ">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Authors)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Format)
                    </th>
                    <th width="300px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @foreach (var author in item.Authors)
                            {
                                <a asp-controller="Author" asp-action="Details" asp-route-id="@author.AuthorID">
                                    @Html.DisplayFor(modelItem => author.Author.Name) @Html.DisplayFor(modelItem => author.Author.Surname)
                                </a>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Language)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Format)
                        </td>
                        <td>
                            <div>
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <br />
                                <a asp-controller="EReaderInstance" asp-action="UserAddEBookInEReader" asp-route-id="@item.Id">Add in E-Reader</a>
                                <br />
                            </div>

                            @if (User.HasClaim(x => x.Value == GlobalConstants.AdminRoleName))
                            {
                                <div>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <br />
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

