@model BL.DTOs.Entities.EReaderInstance.EReaderInstanceDTO
@using MVCProject.Config;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EReaderInstance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="User" asp-action="Details" asp-route-id="@Model.EreaderOwnerId">
                @Html.DisplayFor(model => model.Owner.Name) @Html.DisplayFor(model => model.Owner.Surname)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EReaderTemplate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EReaderTemplate.Model)
        </dd>
    </dl>
</div>
<div>
    <h5>EBooks</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BooksIncluded)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EBook.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EBook.Description)
                    </td>
                    <td>
                        <a asp-controller="EBook" asp-action="Details" asp-route-id="@item.EBookID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if ((User.Identity.Name != null && int.Parse(User.Identity.Name) == Model.EreaderOwnerId) || User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
