@model BL.DTOs.Entities.EReaderInstance.EReaderInstanceDTO
@using MVCProject.Config;
@using MVCProject.StateManager;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EReaderInstance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="User" asp-action="Details" asp-route-id="@Model.EreaderOwnerId">
                @Html.DisplayFor(model => model.Owner.Name) @Html.DisplayFor(model => model.Owner.Surname)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EReaderTemplate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EReaderTemplate.Model)
        </dd>
    </dl>
</div>
<div>
    @{
        var currentReservation = StateKeeper.Instance.GetReservationInSession(ViewContext.HttpContext.Session);
        @if (currentReservation != null)
        {
            bool shouldDisplay = true;
            foreach (var reservation in Model.Reservations)
            {
                if (currentReservation.DateTill < reservation.DateTill)
                {
                    shouldDisplay = false;
                    break;
                }
            }

            if (shouldDisplay)
            {
                <a asp-controller="Reservation" asp-action="AddedEReaderInstance" asp-route-id="@Model.Id">Reserve |</a>
            }
        }
    }
    @if ((User.Identity.Name != null && int.Parse(User.Identity.Name) == Model.EreaderOwnerId) || User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
